<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h1>{{ valor | number }}</h1>
  <h1>{{ obj | json }}</h1>
</div>

<button pButton
  (click)="mostrarNombre()" 
  type="button" 
  label="Help" 
  class="p-button-help"
  icon="pi pi-check"
  iconPos="right"
></button>

<p-card [header]="nombre | titlecase"
  subheader="Esto es un subheader"
  >
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus itaque eius illum id 
  libero veritatis quam quia. Tempora id ut, numquam deleniti corrupti a suscipit enim voluptate 
  molestiae totam odio!
</p-card> -->

<app-menu></app-menu>
<router-outlet></router-outlet>


